<% if (theme.gitment){ %>
<section class="comments" id="comments">
    <div id="gitment_thread"></div>
    <link rel="stylesheet" href="/gitment/style/default.css">
    <script src="https://www.wenjunjiang.win/js/gitment.js"></script>
    <script>
        var gitment = new Gitment({
            id: '<%= page.date %>',
            owner: '<%- theme.gitment.owner %>',
            repo: '<%- theme.gitment.repo %>',
            oauth: {
                client_id: '<%- theme.gitment.client_id %>',
                client_secret: '<%- theme.gitment.client_secret %>',
            },
        })
        gitment.render('comments')
    </script>
</section>
<% } %>
