<% if (theme.wangyi_ygt){ %>
    <div id="cloud-tie-wrapper" class="comments cloud-tie-wrapper"></div>
    <script>
    var cloudTieConfig = {
        url: '<%- url %>',
        sourceId: '<%- key %>',
        productKey: '<%- theme.wangyi_ygt %>',
        target: 'cloud-tie-wrapper',
        pcFiles: [
            '<%- url_for(theme_css("/css/cloudTie/pc", cache)) %>',
            '<%- url_for(theme_js("/js/cloudTie/pc", cache)) %>',
        ],
        mobileFiles: [
            '<%- url_for(theme_css("/css/cloudTie/mobile", cache)) %>',
            '<%- url_for(theme_js("/js/cloudTie/mobile", cache)) %>'
        ]
    };
    </script>
    <script src="<%- url_for(theme_js('/js/cloudTie/loader', cache)) %>"></script>
<% } %>
