<blockquote class="post-copyright">
    <div class="content">
        <%- _.template(theme.copyright)(locals) %>
    </div>
    <footer>
        <a href="<%- config.url %>">
            <img src="<%- theme.avatar %>" alt="<%- config.author %>">
            <%- config.author %>
        </a>
    </footer>
</blockquote>