<blockquote class="post-copyright">
    <div class="content">
        <%- partial('updated') %>
        <%- _.template(theme.copyright)(locals) %>
    </div>
    <footer>
        <a href="<%- config.url %>">
            <img src="<%- url_for(theme.avatar) %>" alt="<%- config.author %>">
            <%- config.author %>
        </a>
    </footer>
</blockquote>
