<% if(page.reward){ %>
<div id="reward" class="page-modal reward-lay">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <h3 class="reward-title">
        <i class="icon icon-quote-left"></i>
        <%=theme.reward.title %>
        <i class="icon icon-quote-right"></i>
    </h3>
    <div class="reward-content">
        <%
        var paymentOne = theme.reward.payment_one;
        var paymentTwo = theme.reward.payment_two;
        %>
        <div class="reward-code">
            <img id="rewardCode" src="<%- url_for(paymentOne || paymentTwo) %>" alt="打赏二维码">
        </div>
        <% if(!!paymentOne && !!paymentTwo) { %>
        <label class="reward-toggle">
            <input id="rewardToggle" type="checkbox" class="reward-toggle-check"
                data-paymentone="<%- url_for(paymentOne) %>" data-paymenttwo="<%- url_for(paymentTwo) %>">
            <div class="reward-toggle-ctrol">
                <span class="reward-toggle-item payment-one"><%=theme.reward.payment_one_name %></span>
                <span class="reward-toggle-label"></span>
                <span class="reward-toggle-item payment-two"><%=theme.reward.payment_two_name %></span>
            </div>
        </label>
        <% } %>
    </div>
</div>
<% } %>
