<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/loading') %>
  <nav id="menu" <% if(is_post() && theme.hideMenu){ %>class="hide"<% } %> >
   <%- partial('_partial/menu') %>
  </nav>
  <main id="main">
    <%- partial('_partial/header') %>
    <div class="container body-wrap">
      <%- body %>
    </div>
  </main>
<%- partial('_partial/after-footer') %>
<%- partial('_partial/script') %>
</body>
</html>
