<article id="<%= post.layout %>-<%= post.slug %>"
  class="article article-type-<%= post.layout %>" itemprop="blogPost">
     <%- partial('post/title', { hasLink: true }) %>
    <div class="post-meta">
        <%- partial('post/date', {date_format: config.date_format}) %>
        <%- partial('post/category') %>
    </div>

    <div class="post-content" id="post-content" itemprop="postContent" >

    <% if(theme.excerpt_render) { %> 
        <%- post.excerpt || post.content %>
    <% } else {
        var tagReg = /<(S*?)[^>]*>.*?|<.*? \/>/gm;
    %>
        <%- post.excerpt ? post.excerpt.replace(tagReg, ' ') : post.content.replace(tagReg, ' ').substring(0, theme.excerpt_length) %>
    <% } %>
    
        <a href="<%- url_for(post.path) %>" class="post-more waves-effect waves-button">
            <%-theme.excerpt_link%>
        </a>
    </div>
    <%- partial('post/tag') %>
</article>
