<div class="inner flex-row-vertical">
  <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
      <i class="icon icon-lg icon-close"></i>
  </a>
  <div class="brand-wrap">
    <div class="brand">
      <a href="/" class="avatar"><img src="<%=theme.avatar %>"></a>
      <hgroup class="introduce">
        <h5 class="nickname"><%- config.author %></h5>
        <%- mail_to(config.email, theme.email, {class: 'mail'}) %>
      </hgroup>
    </div>
  </div>
  <ul class="nav flex-col">
    <%
      var menuItem, isActive = function(item) {
          return (path === 'index.html' && item === 'home') || (is_archive() && item === 'archives') || ( (is_tag() || page.type === 'tags') && item === 'tags');
      };
      for (var i in theme.menu) {
        menuItem = theme.menu[i];
      %>
        <li class="waves-block waves-effect<% if(isActive(i)){ %> active<% } %>">
          <a href="<%- url_for(menuItem.url) %>" <% if(menuItem.target){ %>target="_blank"<% } %> >
            <i class="icon icon-lg icon-<%= i %>"></i>
            <%=(menuItem.text || _.startCase(i)) %>
          </a>
        </li>
    <% } %>
  </ul>

  <%- partial('footer') %>
</div>
